.home-container {
  text-align: center;
  margin-top: 50px;
}

.home-container h1 {
  color: #333;
  font-size: 28px;
  margin-bottom: 10px;
}

.home-container p {
  color: #555;
  font-size: 18px;
}
